{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link  href={% static "crafts/css/footerstyle.css" %} rel="stylesheet">
    <!-- <link  href={% static "webcss/css/loginpage.css" %} rel="stylesheet"> -->
    <link  href={% static "crafts/css/home.css" %} rel="stylesheet">
    <title>Crafty Crafts</title>
</head>
<body>
    <div class="main">
        <div class="wrapper">
            <div class="header">
                <nav>
                    <div class="logo">
                        <a href={% static "craft/homepage.html" %}>Crafty Crafts</a>
                    </div>
                    <ul>
                        <li><a href={% static "craft/homepage.html" %}>HOME</a></li>
                        <li><a href={% static "craft/products.html" %}>PRODUCTS</a></li>
                        <li><a href={% static "craft/login.html" %}>LOGIN</a></li>
                        <li><a href={% static "craft/register.html" %}>REGISTER</a></li>
                        <li><a href={% static "crafts/contact.html" %}>CONTACT</a></li>
                        <li><a href="">ABOUT</a></li>
                    </ul>
                </nav>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <center>
                    <iframe width="40%" height="400" frameborder="10" scrolling="no" marginheight="10" marginwidth="10" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=96,weststreet,salaidhur,kodumudi,638151+(icecream)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/wearable-gps/">gps smartwatches</a></iframe></div>
                </center>
                
                <div class="footer-container">
                    <div class="footer">
                     <div class="footer-heading footer-1">
                         <h2>About Us</h2>
                         <a href="#">Blog</a>
                         <a href="#">Demo</a>
                         <a href="#">Customors</a>
                         <a href="#">Investors</a>
                         <a href="#">Terms of Service</a>
                     </div>
                     <div class="footer-heading footer-2">
                        <h2>Contact Us</h2>
                        <a href="#">Jobs</a>
                        <a href="#">support</a>
                        <a href="#">Contact</a>
                        <a href="#">Sponsorships</a>
                    </div>
                    <div class="footer-heading footer-3">
                        <h2>Social Media</h2>
                        <a href="#">Instagram</a>
                        <a href="#">FaceBook</a>
                        <a href="#">You Tube</a>
                        <a href="#">Twitter</a>
                        
                    </div>
                    <div class="footer-email-form">
                        <h2>Join our news letter</h2>
                        <input type="email" placeholder=" Enter your email address"
                         id="footer-email">
                        <input type="submit" value="Sign Up"
                        id="footer-email-btn">           
                    </div>
                    </div>
                </div>
            </body>
            </html>