<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="productsstyle.css">
    <link rel="stylesheet" href="footerstyle.css">
    <title>Document</title>
</head>
<body>
    <!-- headerpart -->
    <div class="container">
        <div class="main">
            <div class="wrapper">
    
                    <nav>
                        <div class="logo">
                        <a href={% static "homepage.html" %}>Crafty Crafts</a>
                        </div>
                        <ul>
                            <li><a href={% static "craft/homepage.html" %}>HOME</a></li>
                        <li><a href={% static "craft/products.html" %}>PRODUCTS</a></li>
                        <li><a href={% static "craft/login.html" %}>LOGIN</a></li>
                        <li><a href={% static "craft/register.html" %}>REGISTER</a></li>
                        <li><a href={% static "crafts/contact.html" %}>CONTACT</a></li>
                        <li><a href="">ABOUT</a></li>
                        </ul>
                    </nav>
                    
                
            </div>
        </div>
       <!-- product1 -->
       <h2>Ceramics and glass crafts</h2>
       <div class="row">
           
           <div class="card">
               
               <img src="f1.jpg" alt="" height="100px" width="100px">
               <h4>NeedleWork</h4>
               <p>PRICE: $ 100<br>
                  OFFER: 20%<br>
                  DELIVERY: FREE<br>
                  TYPE: CASH ON DELIVERY<br><br></p>
               <a href="#" class="btn">Buy Now</a>     
           </div>
           <div class="card">
               <img src="f2.jpg" alt="" height="100px" width="100px" >
               <h4>NeedleWork</h4>
               <p>PRICE: $ 100<br>
                   OFFER: 20%<br>
                   DELIVERY: FREE<br>
                   TYPE: CASH ON DELIVERY<br><br></p>
               <a href="#" class="btn">Buy Now</a>     
           </div>
           <div class="card">
               <img src="f3.jpg" alt="" height="100px" width="100px">
               <h4>NeedleWork</h4>
               <p>PRICE: $ 100<br>
                   OFFER: 20%<br>
                   DELIVERY: FREE<br>
                   TYPE: CASH ON DELIVERY<br><br></p>
               <a href="#" class="btn">Buy Now</a>     
           </div>
           <div class="card">
               <img src="f4.jpg" alt="" height="100px" width="100px">
               <h4>NeedleWork</h4>
               <p>PRICE: $ 100         <br>
                   OFFER: 20%          <br>
                   DELIVERY: FREE          <br>
                   TYPE: CASH ON DELIVERY     <br>
               <br></p>
               <a href="#" class="btn">Buy Now</a>     
           </div>
       </div>
       
       <!-- product2 -->
        <h2>Textile Crafts</h2>
        <div class="row">
            
            <div class="card">
                
                <img src="t1.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                   OFFER: 20%<br>
                   DELIVERY: FREE<br>
                   TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="t2.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="t3.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="t4.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
        </div>
        <!-- product3 -->
        <h2>Flower Crafts</h2>
        <div class="row">
            
            <div class="card">
                <img src="pf1.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="pf2.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="pf3.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="pf4.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
        </div>
        
        <!-- product4-->
        <h2>Leather Work</h2>
        <div class="row">
            
            <div class="card">
                <img src="l1.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="l2.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="l3.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="l4.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
        </div>

        <!-- product5-->
        <h2>Houseware</h2>
        <div class="row">
            
            <div class="card">
                <img src="h1.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="h2.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="h3.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="h4.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
        </div>

        <!-- product6-->
        <h2>Fashion</h2>
        <div class="row">
            
            <div class="card">
                <img src="fas1.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="fas2.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="fas3.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="fas4.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
        </div>

        <!-- product6-->
        <h2>Needle Work</h2>
        <div class="row">
            
            <div class="card">
                <img src="n1.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="n2.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="n3.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="n4.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
        </div>

        <!-- product7-->
        <h2>Paper Crafts</h2>
        <div class="row">
            
            <div class="card">
                <img src="cup.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br><br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="cycle.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100<br>
                    OFFER: 20%<br>
                    DELIVERY: FREE<br>
                    TYPE: CASH ON DELIVERY<br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="flower.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
            <div class="card">
                <img src="wallhanger.jpg" alt="" height="100px" width="100px">
                <h4>NeedleWork</h4>
                <p>PRICE: $ 100         <br>
                    OFFER: 20%          <br>
                    DELIVERY: FREE          <br>
                    TYPE: CASH ON DELIVERY     <br>
                <br></p>
                <a href="#" class="btn">Buy Now</a>     
            </div>
        </div>

        


    <!-- footerpart -->
    <div class="footer-container">
        <div class="footer">
         <div class="footer-heading footer-1">
             <h2>About Us</h2>
             <a href="#">Blog</a>
             <a href="#">Demo</a>
             <a href="#">Customors</a>
             <a href="#">Investors</a>
             <a href="#">Terms of Service</a>
         </div>
         <div class="footer-heading footer-2">
            <h2>Contact Us</h2>
            <a href="#">Jobs</a>
            <a href="#">support</a>
            <a href="#">Contact</a>
            <a href="#">Sponsorships</a>
        </div>
        <div class="footer-heading footer-3">
            <h2>Social Media</h2>
            <a href="#">Instagram</a>
            <a href="#">FaceBook</a>
            <a href="#">You Tube</a>
            <a href="#">Twitter</a>
            
        </div>
        <div class="footer-email-form">
            <h2>Join our news letter</h2>
            <input type="email" placeholder="Enter your email address"
             id="footer-email">
            <input type="submit" value="Sign Up"
            id="footer-email-btn">           
        </div>
        </div>
    </div>
</div>
</body>
</html>