*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content:center;
    align-items: center; 
    background:rgb(245, 241, 244); 
    line-height: 1.5;
   
   
} 
a{
    text-decoration: none;
}

.container{
    width:1500px;
    max-width: 100%;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    flex:1 1 1 2rem;
    margin: 10px 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,4);
    padding: 10px 20px;
    border-radius: 10px;

}
.card h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin:10px 0;
}

.card .btn{
    display: :inline-block;
    background:deeppink;
    border: 1px solid black;
    color:azure;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 6px;
    transition: 1s all ease;

    text-align:center;
    padding:10px 20px;
}
.card .btn:hover{
    background: black;
    color: azure;
}
/* homepage css */
nav{
    width: 100%;
    background-color: black;
    
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size:30px;
    color: deeppink;
    margin-left: 100px;
    font-weight:bold;
}
a{
    text-decoration:none;
    color: azure;
    font-size: 17px;
    transition: 0.3s all ease;
}
ul{
    margin: 0px;
    margin-right: 50px;
    
}
ul li{
    float: left;
    padding: 0px 10px;
    list-style: none;
}

ul li a:hover{
    color:deeppink;
}
